

#github "robrix/Prelude" ~> 1.2
github "robrix/Either" ~> 1.0
github "robrix/Box" ~> 1.0
github "robrix/Traversal" >= 0.0.1
github "LlamaKit/LlamaKit" ~> 0.5
github "ReactiveCocoa/ReactiveCocoa" "swift-development"


